h1{
    font-size: 60px;
    color: blue;
    text-shadow: 2px 2px rgb(0,0,0,0.4);
    font-family: 'Labrada', serif;
    letter-spacing: 1.5px;
}
p{
    font-family: 'Times New Roman', Times, serif;
    line-height: 24px;
}